/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body {
  margin-top: 20px;
}

.footer .footer-socila-icon a {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #F84E77;
  color: #ffffff;
  border-radius: 50%;
  margin-right: 8px;
  font-size: 15px;
}

.footer .footer-socila-icon a:hover {
  background: #1baaa0;
}

.footer .footer-links {
  margin: 0;
}

.footer .footer-links li+li {
  padding-top: 10px;
}

.footer .footer-links li a {
  position: relative;
}

.footer .footer-links li a:after {
  content: "";
  position: absolute;
  width: 0px;
  left: auto;
  right: 0;
  bottom: 0;
  height: 1px;
  transition: ease all 0.35s;
  background: #F84E77;
}

.footer .footer-links li a:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}

.footer .footer-top {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer .footer-top h5,
.footer .footer-top .h5 {
  position: relative;
  font-size: 1.2rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .footer .footer-top {
      padding-top: 2rem;
      padding-bottom: 1rem;
  }
}

@media (min-width: 992px) {
  .footer .footer-top {
      padding-top: 3rem;
      padding-bottom: 2rem;
  }
}

.footer .footer-border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-border-top.dark {
  border-top: 1px solid rgba(16, 16, 16, 0.1);
}

.footer .footer-border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-border-bottom.dark {
  border-bottom: 1px solid rgba(16, 16, 16, 0.1);
}

.bg-dark-gradient {
  background: linear-gradient( 180deg, #101010 50%, black 100%) repeat-x !important;
}

.white-link a {
  color: rgba(255, 255, 255, 0.65);
}

a {
  text-decoration: none
}

.avatar-lg img {
 width:90px;
 height:90px;
}

.text-white{
color:#fff !important;
}
.product-box {
  padding: 0;
  border: 1px solid #e7eaec;
}
.product-box:hover,
.product-box.active {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 3px 7px 0 #a8a8a8;
  -moz-box-shadow: 0 3px 7px 0 #a8a8a8;
  box-shadow: 0 3px 7px 0 #a8a8a8;
}
.product-imitation {
  text-align: center;
  padding: 90px 0;
  background-color: #f8f8f9;
  color: #bebec3;
  font-weight: 600;
}
.cart-product-imitation {
  text-align: center;
  padding-top: 30px;
  height: 80px;
  width: 80px;
  background-color: #f8f8f9;
}
.product-imitation.xl {
  padding: 120px 0;
}
.product-desc {
  padding: 20px;
  position: relative;
}
.ecommerce .tag-list {
  padding: 0;
}
.ecommerce .fa-star {
  color: #d1dade;
}
.ecommerce .fa-star.active {
  color: #f8ac59;
}
.ecommerce .note-editor {
  border: 1px solid #e7eaec;
}
table.shoping-cart-table {
  margin-bottom: 0;
}
table.shoping-cart-table tr td {
  border: none;
  text-align: right;
}
table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
  text-align: left;
}
table.shoping-cart-table tr td:last-child {
  width: 80px;
}
.product-name {
  font-size: 16px;
  font-weight: 600;
  color: #676a6c;
  display: block;
  margin: 2px 0 5px 0;
}
.product-name:hover,
.product-name:focus {
  color: #1ab394;
}
.product-price {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: #1ab394;
  padding: 6px 12px;
  position: absolute;
  top: -32px;
  right: 0;
}
.product-detail .ibox-content {
  padding: 30px 30px 50px 30px;
}
.image-imitation {
  background-color: #f8f8f9;
  text-align: center;
  padding: 200px 0;
}
.product-main-price small {
  font-size: 10px;
}
.product-images {
  margin: 0 20px;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.ibox.collapsed .ibox-content {
  display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}
.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}
.product-content {
  border: 1px solid #dfe5e9;
  margin-bottom: 20px;
  margin-top: 12px;
  background: #fff
}

.product-content .carousel-control.left {
  margin-left: 0
}

.product-content .product-image {
  background-color: #fff;
  display: block;
  min-height: 238px;
  overflow: hidden;
  position: relative
}

.product-content .product-deatil {
  border-bottom: 1px solid #dfe5e9;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-top: 16px;
  position: relative;
  background: #fff
}

.product-content .product-deatil h5 a {
  color: #2f383d;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none;
  padding-left: 0;
  margin-left: 0
}

.product-content .product-deatil h5 a span {
  color: #9aa7af;
  display: block;
  font-size: 13px
}

.product-content .product-deatil span.tag1 {
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
  height: 50px;
  padding: 13px 0;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 50px
}

.product-content .product-deatil span.sale {
  background-color: #21c2f8
}

.product-content .product-deatil span.discount {
  background-color: #71e134
}

.product-content .product-deatil span.hot {
  background-color: #fa9442
}

.product-content .description {
  font-size: 12.5px;
  line-height: 20px;
  padding: 10px 14px 16px 19px;
  background: #fff
}

.product-content .product-info {
  padding: 11px 19px 10px 20px
}

.product-content .product-info a.add-to-cart {
  color: #2f383d;
  font-size: 13px;
  padding-left: 16px
}

.product-content name.a {
  padding: 5px 10px;
  margin-left: 16px
}

.product-info.smart-form .btn {
  padding: 6px 12px;
  margin-left: 12px;
  margin-top: -10px
}

.product-entry .product-deatil {
  border-bottom: 1px solid #dfe5e9;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-top: 16px;
  position: relative
}

.product-entry .product-deatil h5 a {
  color: #2f383d;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none
}

.product-entry .product-deatil h5 a span {
  color: #9aa7af;
  display: block;
  font-size: 13px
}

.load-more-btn {
  background-color: #21c2f8;
  border-bottom: 2px solid #037ca5;
  border-radius: 2px;
  border-top: 2px solid #0cf;
  margin-top: 20px;
  padding: 9px 0;
  width: 100%
}

.product-block .product-deatil p.price-container span,
.product-content .product-deatil p.price-container span,
.product-entry .product-deatil p.price-container span,
.shipping table tbody tr td p.price-container span,
.shopping-items table tbody tr td p.price-container span {
  color: #21c2f8;
  font-family: Lato, sans-serif;
  font-size: 24px;
  line-height: 20px
}

.product-info.smart-form .rating label {
  margin-top: 0
}

.product-wrap .product-image span.tag2 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 10px 0;
  color: #fff;
  font-size: 11px;
  text-align: center
}

.product-wrap .product-image span.sale {
  background-color: #57889c
}

.product-wrap .product-image span.hot {
  background-color: #a90329
}

.shop-btn {
  position: relative
}

.shop-btn>span {
  background: #a90329;
  display: inline-block;
  font-size: 10px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
  font-weight: 700;
  border-radius: 50%;
  padding: 2px 4px 3px!important;
  text-align: center;
  line-height: normal;
  width: 19px;
  top: -7px;
  left: -7px
}

.description-tabs {
  padding: 30px 0 5px!important
}

.description-tabs .tab-content {
  padding: 10px 0
}

.product-deatil {
  padding: 30px 30px 50px
}

.product-deatil hr+.description-tabs {
  padding: 0 0 5px!important
}

.product-deatil .carousel-control.left,
.product-deatil .carousel-control.right {
  background: none!important
}

.product-deatil .glyphicon {
  color: #3276b1
}

.product-deatil .product-image {
  border-right: none!important
}

.product-deatil .name {
  margin-top: 0;
  margin-bottom: 0
}

.product-deatil .name small {
  display: block
}

.product-deatil .name a {
  margin-left: 0
}

.product-deatil .price-container {
  font-size: 24px;
  margin: 0;
  font-weight: 300
}

.product-deatil .price-container small {
  font-size: 12px
}

.product-deatil .fa-2x {
  font-size: 16px!important
}

.product-deatil .fa-2x>h5 {
  font-size: 12px;
  margin: 0
}

.product-deatil .fa-2x+a,
.product-deatil .fa-2x+a+a {
  font-size: 13px
}

.profile-message ul {
list-style: none ;  
}

.product-deatil .certified {
  margin-top: 10px
}

.product-deatil .certified ul {
  padding-left: 0
}

.product-deatil .certified ul li:not(first-child) {
  margin-left: -3px
}

.product-deatil .certified ul li {
  display: inline-block;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 13px 19px
}

.product-deatil .certified ul li:first-child {
  border-right: none
}

.product-deatil .certified ul li a {
  text-align: left;
  font-size: 12px;
  color: #6d7a83;
  line-height: 16px;
  text-decoration: none
}

.product-deatil .certified ul li a span {
  display: block;
  color: #21c2f8;
  font-size: 13px;
  font-weight: 700;
  text-align: center
}

.product-deatil .message-text {
  width: calc(100% - 70px)
}

@media only screen and (min-width:1024px) {
  .product-content div[class*=col-md-4] {
      padding-right: 0
  }
  .product-content div[class*=col-md-8] {
      padding: 0 13px 0 0
  }
  .product-wrap div[class*=col-md-5] {
      padding-right: 0
  }
  .product-wrap div[class*=col-md-7] {
      padding: 0 13px 0 0
  }
  .product-content .product-image {
      border-right: 1px solid #dfe5e9
  }
  .product-content .product-info {
      position: relative
  }
}

.message img.online {
  width:40px;
  height:40px;
}

